*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 60px;
    text-align: center;
    line-height: 1.5;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    color: #666;
    background-color: #eee;
}

a {
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #444;
    transition: border 200ms;
}

a:hover, a:active, a:focus {
    border-bottom: 1px solid #39f;
    outline: none;
}

h1, h2, ul, dl, dd, p {
    margin: 0;
    padding: 0;
}

li, dt, dd {
    margin-bottom: 0.2em;
}

h1, h2 {
    font-weight: normal;
    color: #444;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

.progress {
    display: inline-block;
    width: 100%;
    height: 2px;
    margin: 4px 0;
    vertical-align: baseline;
    background-color: #eee;
}

.progress .inner {
    display: block;
    height: 2px;
    width: 0;
    background-color: #39f;
}

.card {
    width: 360px;
    margin: 40px auto;
    padding: 1.6em 3.2em;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px #ddd;
}

.card h2 {
    margin-bottom: 0.6em;
}

.card.title {
    padding-top: 3.2em;
    padding-bottom: 3.2em;
}

.card.works dt {
    font-size: 1.2em;
}

.card.works dd {
    text-align: left;
}

.card.skills dl {
    overflow: hidden;
}

.card.skills dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

.card.skills dd {
    overflow: hidden;
}

.card.contacts ul {
    list-style: none;
}
