html, body {
  overflow: hidden;
}

html {
  font-family: "Ropa Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 640px) {
  html {
    font-size: 12px;
  }
}

.box {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 10vw;
}

@media (max-width: 640px) {
  .box {
    padding: 0;
  }
}

@media (orientation: portrait) {
  .box {
    flex-direction: column;
    justify-content: center;
  }
}

.logo {
  position: relative;
  flex-shrink: 0;
  width: 16rem;
  height: 16rem;
  margin: 4rem;
}

.logo-back {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 4px solid #eceff1;
  transform: rotate(15deg);
}

.logo-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.logo-text img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120%;
  transform: translate(-50%, -50%);
}

.nav {
  margin-top: 4rem;
}

.nav ul {
  display: flex;
  margin: 0 -1rem;
  padding: 0;
  list-style: none;
}

.nav li {
  margin: 0 1rem;
}

.nav a {
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: #263238;
}
