*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.section h1 {
  margin: 0;
  font-size: 4em;
  font-weight: 300;
}

.section p {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

@keyframes header-back {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes header-back-inner {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.header-back {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  width: 320px;
  height: 320px;
  margin: -160px;
  animation: header-back 8s linear infinite;
}

.header-back::before,
.header-back::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #e0e0e0;
}

.header-back::after {
  animation: header-back-inner 1s ease infinite;
}
